
body {
    background: rgb(18, 181, 231);
}

.container{
    overflow: hidden;
    text-align: center;
    
}
p{
    text-shadow: 0 0 3px #FF0000;
}

#p2{float:right;}

h1{
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, 0.65);
    font-size: 90px;
    margin: 10px 10px;
    font-weight: 95;
    position: relative;
    left:0px;
}

.title ul li {
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    border: #fff solid 2px;
    border-radius: 50px;
    padding: 10px 0px;
    margin: 5px;

}

li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px
}

li a:hover{
    background: #fff;
    color: #1db8e8;
    border-radius: 50px;
}

.fade {

    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 1.5s;
}

.fade:hover {opacity: 1}





/* Menu */
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;

}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
    font-size: 16px;
}


.mydiv {
    width:100%;
    height:100%;

    font-weight:bold;
    animation: myanimation 5s infinite;
}

@keyframes myanimation {
    0% {background-color: rgb(18, 181, 231);}
    12.5%{background-color: rgb(18, 181, 231);}
    25%{background-color: #4CAF50;}
    37.5%{background-color: #4CAF50;}
    50% {background-color: #006ead;}
    62.5% {background-color: #006ead;}
    75%{background-color: rgb(18, 181, 231);}
    87.5%{background-color: #4CAF50;}
    100%{background-color:rgb(18, 181, 231); }

}